<%= render "shared/navbar" %>

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
  <h1 class="text-5xl font-bold py-8">My bookmarks</h1>
</div>

    <%# <div
      id="scrollContainer"
      class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start py-40 scrollbar-hide md:scrollbar-default"
    > %>
      <%= render "bookmarks_info" %>
      <%= render "test_bookmar" %>

    <%# </div> %>
  </div>
