<div class="inline-flex" data-controller="weather-display">
  <h6 class="hidden" data-weather-display-target="date" data-api-key="<%= ENV["OPENWEATHERMAP_API_KEY"] %>"><%= day.route.start_date - 365 %></h6>
  <h6 class="hidden" data-weather-display-target="city"><%= day.city %></h6>
  <p class="hidden" data-weather-display-target="weather"><!-- TODO: DESCRIPTION --></p>
  <h2 class ="italic" data-weather-display-target="temp"> <!-- TODO: TEMPERATURE --></h2>
</div>
