<div class="inline-flex">
  <h6 class="hidden" data-weather-display-target="date"><%= route.start_date - 365 %></h6>
  <img data-weather-display-target="img" src="" alt="Weather Icon">
  <p class="hidden" data-weather-display-target="weather"><!-- TODO: DESCRIPTION --></p>
  <h2 data-weather-display-target="temp"> <!-- TODO: TEMPERATURE --></h2>
</div>
