  <div
    id="scrollContainer"
    class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start p-40 scrollbar-hide md:scrollbar-default">"
  >
    <div
      class="transition ease-in-out delay-150 flex-none w-2/4 md:w-1/5 pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125"
    >
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img
            class="object-cover shadow-md hover:shadow-xl"
            src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixqx=3H1AJd0Pae&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
            alt=""
          />
        </div>
        <div class="px-4 py-2 text-center">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h3 class="font-bold text-gray-800 mb-2">
              Some title goes here
            </h3>
          </div>
          <div class=>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ad recusandae, consequatur corrupti vel quisquam id itaque
              nam
            </p>
            <p class="font-medium text-sm text-darkerYellow mt-2">
              Explore<span class="text-darkerYellow">&hellip;</span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div
      class="transition ease-in-out delay-150 flex-none w-2/4 md:w-1/5 pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125"
    >
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img
            class="object-cover shadow-md hover:shadow-xl"
            src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixqx=3H1AJd0Pae&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
            alt=""
          />
        </div>
        <div class="px-4 py-2 text-center">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h3 class="font-bold text-gray-800 mb-2">
              Some title goes here
            </h3>
          </div>
          <div class=>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ad recusandae, consequatur corrupti vel quisquam id itaque
              nam
            </p>
            <p class="font-medium text-sm text-darkerYellow mt-2">
              Explore<span class="text-darkerYellow">&hellip;</span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div
      class="transition ease-in-out delay-150 flex-none w-2/4 md:w-1/5 pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125"
    >
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img
            class="object-cover shadow-md hover:shadow-xl"
            src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixqx=3H1AJd0Pae&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
            alt=""
          />
        </div>
        <div class="px-4 py-2 text-center">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h3 class="font-bold text-gray-800 mb-2">
              Some title goes here
            </h3>
          </div>
          <div class=>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ad recusandae, consequatur corrupti vel quisquam id itaque
              nam
            </p>
            <p class="font-medium text-sm text-darkerYellow mt-2">
              Explore<span class="text-darkerYellow">&hellip;</span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div
      class="transition ease-in-out delay-150 flex-none w-2/4 md:w-1/5 pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125"
    >
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img
            class="object-cover shadow-md hover:shadow-xl"
            src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixqx=3H1AJd0Pae&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
            alt=""
          />
        </div>
        <div class="px-4 py-2 text-center">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h3 class="font-bold text-gray-800 mb-2">
              Some title goes here
            </h3>
          </div>
          <div class=>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ad recusandae, consequatur corrupti vel quisquam id itaque
              nam
            </p>
            <p class="font-medium text-sm text-darkerYellow mt-2">
              Explore<span class="text-darkerYellow">&hellip;</span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div
      class="transition ease-in-out delay-150 flex-none w-2/4 md:w-1/5 pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125"
    >
      <a href="#" class="space-y-4">
        <div class="aspect-w-16 aspect-h-9">
          <img
            class="object-cover shadow-md hover:shadow-xl"
            src="https://images.unsplash.com/photo-1547586696-ea22b4d4235d?ixlib=rb-1.2.1&ixqx=3H1AJd0Pae&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
            alt=""
          />
        </div>
        <div class="px-4 py-2 text-center">
          <div class="text-lg leading-6 font-medium space-y-1">
            <h3 class="font-bold text-gray-800 mb-2">
              Some title goes here
            </h3>
          </div>
          <div class=>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ad recusandae, consequatur corrupti vel quisquam id itaque
              nam
            </p>
            <p class="font-medium text-sm text-darkerYellow mt-2">
              Explore<span class="text-darkerYellow">&hellip;</span>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!---->
