<div
  id="scrollContainer"
  class="flex flex-no-wrap overflow-x-scroll scrolling-touch items-start p-40 scrollbar-hide md:scrollbar-default"
>
    <% @routes.each do |route| %>
      <div
        class="transition ease-in-out delay-150 flex-none w-2/4 md:w-1/5 pb-4 bg-white rounded-lg overflow-hidden mr-16 bg-opacity-90 hover:bg-opacity-100 hover:shadow-xl hover:scale-125"
      >
        <%= render "shared/simple_card", route: route %>
      </div>
    <% end %>
</div>
