<%# Hero %>
<section id="hero">
  <%# Flex container %>
  <div class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:flex-row md:space-y-0">
    <%# Left-item %>
    <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
      <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">Get inspired by keeping control</h1>
      <p class="max-w-sm text-center text-darGrayishBlue md:text-left">
        Tabinav makes it simple to plan trips while keeping costs clearly in view.
      </p>
      <div class="flex justify-center md:justify-start">
        <a href="" class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">Get started</a>
      </div>
    </div>
    <%# Image %>
    <div class="md:w-1/2">
      <%= image_tag("background-1.jpg") %>
    </div>
  </div>

</section>
