  <div
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    class="absolute top-0 w-full h-full object-cover object-center rounded-lg bg-white"
  ></div>
