  <div
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    class="w-full h-full rounded-lg hover:shadow-2xl hover:scale-125 hover:-translate-x-64 hover:translate-y-4 transition duration-1000 ease-in-out"
  ></div>
