<nav class="relative container mx-auto p-6">
  <!-- Flex-container -->
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <div class="h-16 p-2">
      <%= image_tag("tabinav-logo.png", class: "rounded-full border border-gray-100 shadow-sm h-full") %>
    </div>
    <!-- Menu items -->
    <!-- <div class="hidden md:flex space-x-6"> 1.5 rem space in between, show flex on medium sized
      <a href="#" class="hover:text-darkGrayishBlue">Blog</a>
      <a href="#" class="hover:text-darkGrayishBlue">Product</a>
      <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
      <a href="#" class="hover:text-darkGrayishBlue">Careers</a>
      <a href="#" class="hover:text-darkGrayishBlue">Community</a>
    </div> -->
    <!-- Button -->
    <a href="" class="hidden md:block p-3 px-6 pt-2 text-white bg-mainYellow rounded-full baseline hover:bg-darkerYellow">Get inspired</a>
  </div>
</nav>
