<h4 class="text-lg font-medium mb-2">Accommodation: <%= day.name_hotel %></h4>
<p class="text-gray-600 mb-2"><%= day.description_hotel %></p>
<p class="text-gray-600 font-medium">Price: €<%= day.price_hotel %></p>
